<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" style="color: crimson" >Game Scores</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Games
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" routerLink="/dino" style="color: crimson"
            >Dino</a
          >

          <a class="dropdown-item" routerLink="/flappyTilapia" style="color: crimson"
            >Flappy Tilapia</a
          >
          
          <a class="dropdown-item" routerLink="/spaceInvaders" style="color: crimson"
            >Space Invaders</a
          >
          <a class="dropdown-item" routerLink="/tetris" style="color: crimson"
            >Tetris</a
          >

          <div class="dropdown-divider"></div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="navbar-text"> {{ userName }} </span>
    </form>

    <form class="form-inline my-2 my-lg-0" *ngIf="userName">
      <a
        class="nav-link"
        href="javascript:void(0);"
        style="color: crimson"
        (click)="openConfirmationDialog()"
        >Logout</a
      >
    </form>
  </div>
</nav>
