.modal-header {
  background-color: #333;
  color: crimson;
  text-align: center;
}

.modal-body {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.modal-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}
