<br />
<br />
<br />
<br />

<div class="jumbotron bg-dark">
  <h1 style="color: crimson; text-align: center">About this application</h1>
  <br />
  <p style="color: white; text-align: center">Like I have said in footer.. Game Score is an interactive learning project created by me (Otto) using the game codes that I have found in Internet like a base (I mean, 
    I have modificate these codes and added other things).</p>
    <p style="color: white; text-align: center">Until this moment.. I have used these technologies in this project:</p>
    <p style="color: white; text-align: center">- Angular (Phaser 3 and Canvas);</p>
    <p style="color: white; text-align: center">- NodeJs (Express, JWT and Mongoose);</p>
    <p style="color: white; text-align: center">- SpringBoot (JWT and others Spring frameworks like Spring Jpa, Spring Security, Spring Webflux and etc...);</p>
    <p style="color: white; text-align: center">- React for Admin ui.. not started yet;</p>
    <p style="color: white; text-align: center">- Mongo Db;</p>
    <p style="color: white; text-align: center">- Heroku.</p>
</div>
