<br />
<br />
<br />
<br />
<div class="wrapper fadeInDown">
  <div id="formContent" class="bg-dark">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first"></div>

    <!-- Login Form -->
    <form [formGroup]="loginForm">
      <h1 style="color: crimson">Authentication</h1>
      <input
        type="text"
        id="email"
        class="fadeIn second"
        name="email"
        placeholder="email"
        formControlName="email"
      />

      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="email"
        placeholder="password"
        formControlName="password"
      />
      <input
        type="submit"
        (click)="login()"
        class="fadeIn fourth"
        value="Log In"
      />
    </form>
  </div>
</div>
