<br />
<br />
<br />
<br />

<div class="jumbotron bg-dark">
  <h1 style="color: crimson">Best Scores</h1>
  <p class="lead" style="color: #ffffff">Get your best score!!</p>

  <p-table [value]="spaceInvadersScores" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption"> Generic Space Invaders</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-spaceScore let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ spaceScore.name }}</td>
        <td>{{ spaceScore.score }}</td>
      </tr>
    </ng-template>
  </p-table>

  <br />

  <p-table [value]="tetrisScores" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption"> Tetris </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tetrisScore let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ tetrisScore.name }}</td>
        <td>{{ tetrisScore.score }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
